*,
html,
body {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.isbn {
  display: none;
}

.container {
  width: 100%;
  text-align: center;
}

#bookList {
  border: 2px solid #000;
  padding: 0;
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
}

ul,
li,
p,
button {
  padding: 0;
  margin: 0;
  list-style: none;
}

li > p {
  margin-right: 20px;
}

li:nth-child(odd) {
  background-color: rgb(223, 222, 222);
}

.contact > ul > li,
li.nav-item {
  background-color: white;
}

#bookList > li {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 5px 10px;
  align-items: center;
}

.remove {
  margin-left: auto;
  height: 30px;
  padding: 0 20px;
}

#form-title {
  margin: 0 auto;
  width: 300px;
}

h2 {
  text-align: center;
}

.btn-add {
  float: right;
  padding: 3px 10px;
  border: 2px solid #000;
  border-radius: 3px;
}

input {
  border: 2px solid #000;
  border-radius: 4px;
  width: 100%;
}

.contact {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

.section {
  display: none;
}
